{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="three columns users">
            <h4>Users list</h4>
            <ul class="userslist">
                <li>
                    <a href="#" title="">@gabo</a>
                </li>
                <li>
                    <a href="#" title="">@edu</a>
                </li>
                <li>
                    <a href="#" title="">@mendez</a>
                </li>
            </ul>
        </div>
        <div class="nine columns message-list">
            <h4>@gabo's message board</h4>
            <ul class="message-ul">
                <li class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque pellentesque risus id fermentum. Nunc vehicula in arcu et pharetra.<span class="messageinfo">Recibido el 18 dic. 2016 - 20:35</span></li>
                <li class="message">Etiam varius placerat lorem eu eleifend. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam euismod erat at erat tincidunt, vel convallis nibh congue.<span class="messageinfo">Recibido el 18 dic. 2016 - 20:35</span></li>
                <li class="message">Pellentesque pellentesque magna et libero blandit porttitor. Phasellus vel massa est. Suspendisse potenti. In mollis ullamcorper interdum.<span class="messageinfo">Recibido el 18 dic. 2016 - 20:35</span></li>
            </ul>
            <form class="txtmessage" action="/create" method="post" >
                <input title="To" name="to" type="hidden" value="@user"/>
                <label for="content">Write a message</label>
                <textarea class="u-full-width" placeholder="Dear friend..." id="content" name="content"></textarea>
                <input class="button-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}
