<nav class="navbar">
    <div class="container">
        <ul class="navbar-list u-full-width">
            <li class="navbar-item">
                <a class="navbar-link" href="#">Secret Santa Board</a>
            </li>
        </ul>
    </div>
</nav>
